.test {
  background: green;
}
@media print and (min-height: 400px) and (max-height: 600px) and (min-width: 400px) {
  .test {
    background: red;
  }
}

@media (min-height: 400px) and (max-height: 600px) and (min-width: 400px) {
  .test2 {
    background: yellow;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .test3 {
    background: purple;
  }
}
